# Patched by CharOfString
# =============================================================================
# Wlroots不用GXDE自带的Wlroots，而用麒麟打了补丁的libwlroots-dev:openKylin 0.17.4-ok分支
# 这个devel包装到系统会和原版Wlroots的devel包冲突
# (二进制叫libwlroots-0.17.so，要不是GXDE仓库里的原版Wlroots比我们要的麒麟版的新就也冲突了 纯属侥幸)
# 出于稳定性顾虑将OpenKylin的Wlroots以meson子项目(subprojects/wlroots)静态编入本程序
# 所以这里有Wlroots的自身构建依赖

Source: gxde-wlcom
Section: x11
Priority: optional
Maintainer: Morose <chenlinxiang@kylinos.cn>
Build-Depends:
 debhelper-compat (= 13),
 meson (>= 0.59.0),
 ninja-build,
 pkg-config,
 libdrm-dev,
 libxkbcommon-dev,
 libpixman-1-dev,
 libgbm-dev,
 libudev-dev,
 libseat-dev,
 libinput-dev,
 libdisplay-info-dev,
 hwdata,
 libegl-dev,
 libgles2-mesa-dev,
 libxcb1-dev,
 libxcb-composite0-dev,
 libxcb-icccm4-dev,
 libxcb-render0-dev,
 libxcb-res0-dev,
 libxcb-ewmh-dev,
 libxcb-errors-dev,
 xwayland,
 libcairo2-dev,
 libpango1.0-dev,
 librsvg2-dev,
 libjson-c-dev (>= 0.15),
 libssl-dev,
 libepoxy-dev,
 libwayland-dev,
 wayland-protocols,
 libxcb-shape0-dev,
 libunwind-dev,
 libjpeg-dev,
 libgdm-dev,
 libsystemd-dev,
 glslang-tools,
 qt6-base-dev,
 qt6-base-private-dev,
 qt6-declarative-dev,
 qml6-module-qt5compat-graphicaleffects,
 qml6-module-qtquick-layouts,
 qml6-module-qtquick-window,
Standards-Version: 4.6.2

Package: gxde-wlcom
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 libliftoff0,
Breaks: kylin-wayland-compositor-effects
Replaces: kylin-wayland-compositor
Conflicts: kylin-wayland-compositor
Provides: kylin-wayland-compositor
Description: GXDE wayland compositor

Package: gxde-wlcom-client
Architecture: any
Depends:
 gxde-wlcom,
 ${shlibs:Depends},
 ${misc:Depends},
Replaces: kylin-wayland-compositor-client
Conflicts: kylin-wayland-compositor-client
Description: Client library for GXDE wayland compositor
