Source: kylin-wayland-compositor
Section: x11
Priority: optional
Maintainer: Morose <chenlinxiang@kylinos.cn>
Build-Depends:
 debhelper-compat (= 13),
 meson (>= 0.59.0),
 pkg-config,
 glslang-dev,
 libwlroots-dev (>= 0.17),
 libxcb-res0-dev,
 libcairo2-dev,
 libpango1.0-dev,
 librsvg2-dev,
 libjson-c-dev (>= 0.15),
 uuid-dev,
 libssl-dev,
 hwdata,
 libepoxy-dev,
 quilt,
 libcglm-dev (>= 0.8.9),
Standards-Version: 4.6.2

Package: kylin-wayland-compositor
Architecture: linux-any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
Description: Kylin wayland compositor.

Package: kylin-wayland-compositor-effects
Architecture: linux-any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
Description: Kylin wayland compositor effect plugins.
