[Desktop Entry]
Name=gxde-wlcom
Comment=GXDE desktop on the Kylin Wayland Compositor
Exec=/usr/bin/start-gxde-wlcom
Type=Application
DesktopNames=GXDE
